p{
        color:blueviolet;    
}
h1{
        color:red;
        background-color: rgb(220, 238, 245);
        
}
#yusair{
        color:darkgreen;
        background-color: beige;
        font-size: 80px;

}
#zayeen{
        color:blueviolet
        background-color: beige;
        font-size: 80px;
}
.yamin{
        font-size: 80px;
        color:aquamarine;
}
*{
        text-align: center;
}